div.content {
    font-family: 'Cursive Font', cursive;
    width: 100%;
}

.container {
    gap: 5px 5px;
    border: solid red 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.widget {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.widget {
    margin: 0 auto;
    padding: 1px 1px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #888888;
    background-color: transparent;
    color: black;
}